.map-clean {
  color: #313437;
  background-color: #fff;
}

.map-clean p {
  color: #7d8285;
}

.map-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px;
}

.map-clean iframe {
  background-color: #eee;
}

