.card, .card1 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.g-0, .gy-0 {
  --bs-gutter-y: 0px;
  --bs-gutter-x: 10px;
}

/* * {
  margin: 0;
  padding: 0;
} */

