@media (min-width: 300px) {
  #Nav1ContactInfoPara {
    font-size: xx-small;
  }
}

@media (min-width: 576px) {
  #Nav1ContactInfoPara {
    font-size: x-small;
  }
}

@media (min-width: 768px) {
  #Nav1ContactInfoPara {
    font-size: medium;
  }
}

@media (min-width: 1200px) {
  #Nav1ContactInfoPara {
    font-size: larger;
  }
}

@media (min-width: 1390px) {
  #Nav1ContactInfoPara {
    font-size: x-large;
  }
}

@media (max-width: 600px) {
  #Logo {
    width: 250px!important;
    height: 50px!important;
  }
}

